.site-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 6rem 0 0 0;
  background-color: black;
}

.site-footer .site-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-footer .site-info .footer-site-logo {
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
  color: white;
  margin: 24px 0 4px 0;
}

.site-footer .site-info .copyright {
  color: white;
  font-size: 12px;
}

.site-footer .site-info .legal-stuff {
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 4px;
    list-style: none;
  }
  ul li {
  }
  ul li a {
    font-size: 12px;
    padding: 16px;
    margin: 0;
    text-decoration: none;
    color: white;
    display: block;
  }

  .footer-separator {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 300;
  }
}
