.site-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 6rem 0 0 0;
  background-color: black;
}

.site-footer .site-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-footer .site-info .footer-site-logo {
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
  color: white;
  margin: 64px 0 24px 0;
}

.site-footer .site-info .copyright {
  color: white;
  font-size: 12px;
  margin: 16px 8px;
}

.site-footer .site-info .legal-stuff {
  padding-bottom: 24px;
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  ul li a {
    font-size: 12px;
    padding: 16px 8px;
    margin: 0;
    text-decoration: none;
    color: white;
    display: block;
  }
}

.site-footer .site-info .legal-stuff ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  list-style: none;
}

.site-footer .site-info .legal-stuff .footer-separator {
  display: none;
  margin: 0;
  padding: 0;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 300;
}

@media (min-width: $breakpoint-mobile-lrg) {
  .site-footer .site-info .legal-stuff ul {
    flex-direction: row;
  }
  .site-footer .site-info .legal-stuff .footer-separator {
    display: flex;
  }
}
