.home .hero-section {
  margin: 0;
  padding: 0;
  position: relative;
  height: 600px;
}

.home .hero-section .hero-image.bg {
  position: absolute;
  top: 0;
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home .hero-section .hero-image.item {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
  display: block;
  width: auto;
  object-fit: cover;
  z-index: -1;
  width: 200px;
}

.home .hero-section .tagline {
  margin: 0;
  padding: 64px 16px 16px 16px;
  font-size: 3rem;
}

.home .hero-section .description {
  padding: 16px;
}
