.home .hero-section {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  max-height: 750px;
}

.home .hero-section .hero-image.bg {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home .hero-section .background-item-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.home .hero-section .hero-image.item {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 180px;
  object-fit: cover;
  z-index: -1;
  margin-right: 2rem;
  @media (min-width: $breakpoint-mobile-lrg) {
    margin-right: 15%;
    width: 200px;
  }
  @media (min-width: $breakpoint-tablet-sm) {
    margin-right: 5%;
    width: 220px;
  }
  @media (min-width: $breakpoint-desktop-sm) {
    margin-right: 96px;
  }
}

.home .hero-section .content-part {
  font-family: "inter";
  color: #000;
  width: 100%;
  max-width: 1200px;
  padding: 80px 16px 0 16px;
  @media (min-width: $breakpoint-mobile-lrg) {
    padding-left: 8%;
  }
  @media (min-width: $breakpoint-tablet-sm) {
    padding-top: 200px;
    padding-left: 96px;
  }
  @media (min-width: $breakpoint-desktop-sm) {
    padding-top: 260px;
  }
}

.home .hero-section .tagline {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-weight: 900;
  width: 100%;
  font-size: 32px;
  @media (min-width: 360px) {
    font-size: 36px;
  }
  @media (min-width: 400px) {
    font-size: 40px;
  }
  @media (min-width: $breakpoint-mobile-lrg) {
    font-size: 42px;
  }
  @media (min-width: $breakpoint-tablet-sm) {
    font-size: 48px;
  }
}

.home .hero-section .description {
  padding: 0;
  margin: 8px 0 0 0;
  font-weight: 400;
  max-width: 320px;
}
