.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.post,
.page {
  padding: 0;
  margin: 0;
}

// custom layout for pages
.site-main {
  max-width: $max-width;
  margin: auto;
}

.site-main > section {
  margin-top: 3rem;
  padding-left: 16px;
  padding-right: 16px;
}
